/* styles.css */
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #20393e;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#pageHeader {
  height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#pageHeader > nav {
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
}


#pageHeader > nav > button {
  font-weight: 900;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #64859d;
  border-radius: 5px;
}

#content {
  width: auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin: 5vw;
  margin-top: 0px;
  padding: 1.5%;

  border: 4px solid #64859d;
  background-color: #91a9ad;
  border-radius: 10px;

  box-shadow: 0px 0px 5px 1px;
}

#content > img {
  height: 66.7%;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #64859d;
}

#restaurantLogo {
  width: 55%;
  max-width: 600px;
  height: 10%;
  background-color: #91a9ad;
  border: 5px solid #64859d;
  background-color: #91a9ad;
  border-radius: 10px;
  margin: 2%;
  position: absolute;
  font-weight: 900;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.card {
  min-height: 150px;
  height: 25vh;
  width: 60%;
  align-self: center;
  border: 4px solid #64859d;
  border-radius: 10px;
  padding: 1%;
  font-size: 1.2rem;
  font-weight: 900;
  display: flex;
  flex-direction: column;
}

#hoursList, #customerTestimony, #address {
  list-style: none;
  justify-self: center;
  align-self: center;
  margin: 25px;
}

#customerName {
  align-self: end;
}




